<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.simple.mapper.CountryMapper" >
	<resultMap type="Country" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="country_name" property="countryName"/>
		<result column="country_code" property="countryCode"/>
	</resultMap>
	<sql id="Base_Column_List">
		id,country_name,country_code
	</sql>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from country
	</select>
</mapper>